<%- include("partials/header.ejs"); -%>

<h1  style="color:#2f39cc">Compose</h1>
<form method="post" action="/compose">
    <div class="form-group">

    <label>Title</label>
    <input type="text" name="text1" class="form-control">
    <label>Post</label>
    <textarea rows="4" cols="150" name="text2" class="form-control"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
    
</form>

<%- include("partials/footer.ejs"); -%>